.contions {
  width: 70%;
  margin: 0 auto;
}
.condtions_header > h1 {
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--clr-white);
}

.condtions_header > hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 8px;
}

.condition__times {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  flex-wrap: wrap;
  /* width: 90%; */
}

@media screen and (max-width: 1150px) {
  .contions {
    width: 90%;
  }
}

@media screen and (max-width: 650px) {
  .condition__times {
    display: flex;
    justify-content: flex-start;
    margin-top: 22px;
    flex-wrap: wrap;
    gap: 25px;
    /* width: 90%; */
  }
}
